table > tbody > tr > td {
  vertical-align: middle;
}

.header {
  font-size: x-large;
  font-weight: bold;
  flex-shrink: 0;
  max-height: 36px;
}

.content {
  scrollbar-width: thin;
}

.container {
  height: calc(100% - 36px);
}

.sub-container {
  box-sizing: border-box;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 1px 0;
}

@media only screen and (min-width: 991.98px) {
  .sub-container {
    max-width: calc(50% - 2px);
  }
}

.sub-container:nth-child(even) {
  background-color: gainsboro;
}

.date .sup {
  font-weight: 500;
}

.date .sup,
.date .sub {
  white-space: nowrap;
}

.temperature {
  font-size: x-large;
  font-weight: 300;
}

.description {
  padding-left: 2rem;
}

.description img {
  filter: drop-shadow(1px 1px 1px #222);
}
