<app-loader *ngIf="(forecast$ | async).loading; else contentBlock"></app-loader>
<ng-template #contentBlock>
  <div class="container d-flex flex-column">
    <div class="header row d-flex justify-content-between">
      <a class="back" routerLink="/">
        <i class="fas fa-chevron-left"></i>
      </a>
      <p class="name">
        {{name.toUpperCase()}}
      </p>
      <i class="dummy fas fa-backward"></i>
    </div>
    <div class="content row justify-content-around overflow-auto"
      *ngIf="(forecast$ | async)?.forecast?.hourly as forecasts">
      <div class="sub-container col-md-6 d-flex justify-content-center align-items-center"
        *ngFor="let forecast of forecasts">
        <div class="date d-flex flex-column justify-content-center align-items-start">
          <span class="sup">{{getHour(forecast.dt)}}</span>
          <span class="sub">{{getDayMonth(forecast.dt)}}</span>
        </div>
        <div class="temperature d-flex justify-content-start align-items-center">
            {{forecast.temp | number:'1.0-0'}}°
        </div>
        <div class="description d-flex justify-content-start align-items-center">
          <img src="https://openweathermap.org/img/wn/{{forecast.weather[0].icon}}.png" alt="weather image">
            {{forecast.weather[0].description}}
        </div>
        <div class="speed d-flex justify-content-end align-items-center">
          {{forecast.wind_speed | number:'1.1-1' }}<sup>m</sup>/<sub>s</sub>
        </div>
      </div>
    </div>
  </div>
</ng-template>
