/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Encode Sans Condensed", "Open Sans Condensed", "Roboto Condensed", "Helvetica Neue", sans-serif; overflow: hidden;}
a {
  color: var(--link-color)
}


:root {
  --link-color:  #ec6e4c;
}
